@import url('https://use.typekit.net/abc8bem.css');

.App {
    font-family: 'lato', sans-serif;
    max-width: 1200px; /* Đặt chiều rộng tối đa */
    margin: 0 auto; /* Tự động căn giữa theo chiều ngang */
    padding: 0 20px; /* Thêm lề bên trái và bên phải (tùy chọn) */
  }

.feature-post-title,
.news-title,
.daily-post-title {
    text-decoration: none;
    color: blue;
}

.feature-post-title:hover,
.news-title:hover,
.daily-post-title:hover {
    color: rgb(9, 196, 34);
}

